/* Add the following styles to your CSS file */

body {
    font-family: Arial, sans-serif;
    margin: 0;
    overflow: hidden;
  }

  
  .container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  .card {
    width: 550px;
    padding: 20px;
    margin: 2rem;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    background-color: #f9f9f9;
  }
  .card1 {
    width: 550px;
    height: 80px;
    padding:20px;

    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    background-color: #f9f9f9;
  }
  .card1 .cardtitle {
    font-family: Arial, sans-serif;
  }
  
  .card h1 {
    text-align: center;
    margin-bottom: 20px;
  }
  
  .form-group {
    margin-bottom: 20px;
  }
 
  .form-group label {
    display: block;
    font-size: 1.2em;
    margin-bottom: 5px;
    color: #333; /* Color for the labels */
  }
  
  .form-group select, .form-group input {
    width: 93%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 1em;
  }
  
  .button-container {
    display: flex;
    justify-content: center;
    margin-top: 20px;
  }
  
  .button-container button {
    padding: 10px 20px;
    background-color: #442575;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .button-container button:hover {
    background-color: #0056b3;
  }
  
  